.aosx-init{

}
[data-aosx^='fade'] {
    opacity: 0;
    transition-property: opacity, transform;
}
[data-aosx^='fade'].aosx-animate {
    opacity: 1;
    transform: none;
}


[data-aosx^='slide'] {
    transition-property: transform;
    visibility: hidden;
}
[data-aosx^='slide'].aosx-animate {
     visibility: visible;
    transform: translate3d(0, 0, 0);
}


[data-aosx^='flip-up']{
    opacity: 0;
    transform: perspective(2500px) rotateX(-100deg);
}
[data-aosx^='flip-up'].aosx-animate{
    opacity: 1;
    transform: perspective(2500px) rotateX(0);
}
[data-aosx='flip-left'] {
    transform: perspective(2500px) rotateY(-100deg);
}
[data-aosx='flip-left'].aosx-animate {
    transform: perspective(2500px) rotateY(0);
}

[data-aosx='flip-right'] {
    transform: perspective(2500px) rotateY(100deg);
}
[data-aosx='flip-right'].aosx-animate {
    transform: perspective(2500px) rotateY(0);
}

[data-aosx='flip-down'] {
    transform: perspective(2500px) rotateX(100deg);
}
[data-aosx='flip-down'].aosx-animate {
    transform: perspective(2500px) rotateX(0);
}